<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% for greeting in greetings %}
        <h4><cite>{{ greeting.author }}</cite> wrote:</h4>
        <blockquote>
            {{ greeting.content}}
        </blockquote>
        {% endfor %}

        <hr>

        <form action="/sign?%s" method="post">
            <div><textarea name="content" rows="3" cols="60"></textarea></div>
            <div><input type="submit" value="Sign Guestbook"></div>
          </form>
          <hr>
          <form>Guestbook name: <input value="%s" name="guestbook_name">
          <input type="submit" value="switch"></form>

    </body>
</html>